*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6,#E2F2FC);
}

.container{
    max-width: 600px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content: '';
    position: absolute;
    left:0;
    bottom:0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6,#E2F2FC);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .button{
    height: 45px;
    margin: 45px 0;
    text-align: center;
    display: block;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #000;
    font-size:18px;
    font-weight: 500;
    border: none;
    letter-spacing: 2px;
    background: linear-gradient(135deg, #71b7e6,#E2F2FC);
}

form .button input:hover{

    background: linear-gradient(-135deg, #71b7e6,#E2F2FC);
}

form .user-details .input-box{
    margin: 20px 0 12px 0;
    width: calc(100% / 2 -20px);
}
.user-details .input-box .details{
    display: block;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height:45px;
    width: 100%;
    outline:none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left:15px;
}

