<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script>
    function logout(){
      localStorage.clear()
    }

  </script>
</head>
<body>
  <nav class="navbar navbar-expand-lg" style="background-color: whitesmoke;">
    <div class="container-fluid" >
      <a class="nav-link navbar-brand" style="color: black;font-size:x-large" href="#">MoP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="navbar-collapse collapse justify-content-between" id="navbarSupportedContent navbarCollapse" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" style="color: black; " aria-current="page" href="yoostudy_home.html">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: black" href="yoostudy_mypf_new.html">MY PORTFOLIO</a>
          </li>
           <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>  -->
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" style="color: black" href="yoostudy_mypfedit.html">MY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: black"href="yoostudy_register.html">SIGN UP</a>
          </li>
          <li class="nav-item">
              <a class="nav-link"style="color: black"  href="yoostudy_login.html">LOGIN</a>
            </li>
          <li class="nav-item">
            <a class="nav-link"style="color: black"  href="yoostudy_login.html" onclick="logout()">LOGOUT</a>
          </li>
          
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
              
            </ul>
            
        
      </div>        
    </div>
  </nav>
  
</body>
</html>