<!DOCTYPE html>
<html>
  <head>
    <title>Join</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="회원가입 화면을 구현했습니다" />
    <link rel="stylesheet" type="text/css" href="./css/register.css" />

   


    
    <title>포트폴리오 등록</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400&display=swap" rel="stylesheet">
<style>
  *{
    font-family: 'Noto Serif KR', serif;
  }
</style>
  </head>
  <body>
    <div class="container">
        <div class="title">회원가입</div>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">이름</span>
                    <input type="text" placeholder="성함을 써주세요" required>
                </div>
                
                <div class="input-box">
                    <span class="details">전화번호</span>
                    <input type="text" placeholder="전화번호 써주세요" required>
                </div>
                
                <div class="input-box">
                    <span class="details">이메일</span>
                    <input type="text" placeholder="이메일 써주세요" required>
                </div>
                
                <div class="input-box">
                    <span class="details">깃허브주소</span>
                    <input type="text" placeholder="깃허브주소 써주세요" required>
                </div>
                <div class="input-box">
                    <span class="details">깃허브주소</span>
                    <input type="text" placeholder="깃허브주소 써주세요" required>
                </div>
                <div class="input-box">
                    <span class="details">깃허브주소</span>
                    <input type="text" placeholder="깃허브주소 써주세요" required>
                </div>
                <div class="input-box">
                    <span class="details">깃허브주소</span>
                    <input type="text" placeholder="깃허브주소 써주세요" required>
                </div>
            </div>  
            <div class="button">
                <input type="submit" value="회원가입">
            </div>
        </form>
    </div>
  </body>
</html>