<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div  style="text-align: center" >
    <br>
    <br>

    <h1>모든 유저들의 포트폴리오를 확인하세요.</h1>
    <br>
    <button id="drop-btn" class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        language
    </button>

    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#" value="JAVA" >JAVA</a></li>
        <li><a class="dropdown-item" href="#" value="C">C</a></li>
        <li><a class="dropdown-item" href="#" value="C++">C++</a></li>
        <li><a class="dropdown-item" href="#" value="C#">C#</a></li>
        <li><a class="dropdown-item" href="#" value="Python">Python</a></li>
        <li><a class="dropdown-item" href="#" value="js">js</a></li>
    </ul>

</div>

<script>
    let clicked = ''
    $(".dropdown-menu li").click(function(){
        clicked = ($(this).text());
        $("#drop-btn").text(clicked) ;
    })
</script>




</body>
</html>